* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header, footer {
    width: 100%;
    padding: 1rem;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    flex-direction: column;
}

.content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    gap: 1rem;
}

.icon-container {
    display: flex;
    gap: 0.5rem;
}

.icon-container a i {
    font-size: 1.5rem;
}

.icon-container a.discord {
    font-size: 15px;
}

.icon-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
    gap: 0.5rem;
}

.Username {
    font-weight: bolder;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile i {font-size: 30px;}
.settings, .profile button {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.settings-container {
    position: relative;
}

.settings-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    width: 250px;
    background: #121212;
    border: 1px solid #ffffff93;
    border-radius: 15px;
    padding: 10px;
    gap: 0.9rem;
}

.settings-menu.visible {
    display: flex;
}

.settings-menu button {
    background: none;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    text-align: left;
}

.settings-menu button:hover {
    background: #333;
}

.Upgrade {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: linear-gradient(to top, #673c01, #ffb300);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    min-height: 60px;
    margin: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.Upgrade.hidden {
    transform: translateX(100%);
    opacity: 0.5;
    display: none;
}

.Upgrade span {
    font-weight: bold;
    font-size: 22px;
}

.Upgrade i {
    font-size: 2rem;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
}

section {
    display: none;
    width: 100%;
    max-width: 650px;
    margin: 1rem;
    background: #121212;
    padding: 1rem;
    border-radius: 10px;
    overflow-y: auto;
}


.home {
    background: #121212;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: 1rem auto;
    text-align: left;
}

.home h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.home h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.update-logs {
    list-style: none;
    padding: 0;
}

.update-logs li {
    margin-bottom: 1.5rem;
}

.update-logs li strong {
    font-size: 1.2rem;
}

.update-logs ul {
    list-style: disc;
    margin-left: 1.5rem;
}

.update-logs ul li {
    margin-bottom: 0.5rem;
}


.active-section {
    display: block;
}

.reminder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}


.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    gap: 3rem;
}

.input-form {
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(121, 121, 121, 0.507);
    color: rgba(255, 255, 255, 0.9);
    background: transparent;
    padding: .7rem 1rem;
    font-size: 1rem;
}

.span-form {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255, 0.7);
    pointer-events: none;
    transition: all 0.2s;
    font-size: 1rem;
    background: transparent;
    padding: 0 .5rem;
}

.input-form:focus + .span-form,
.input-form:not(:placeholder-shown) + .span-form {
    top: 0;
    transform: translateY(-80%);
    color: rgba(255, 255, 255, 1);
    background: rgb(21,21,21);
    border-radius: 5px;
}

.input-form:focus {
    border-color: rgba(255, 255, 255, 1);
    outline: none;
}

.submit-button {
    width: 100%;
    max-width: 500px;
    padding: 0.7rem 1rem;
    margin: 25px auto;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, #8f5402, #ff9500);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background: linear-gradient(to top, #392101, #844d01);
}



.my-notes ul {
    list-style: none;
    padding: 0;
}

.my-notes li {
    background: #1e1e1e;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
}

.my-notes .note-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.my-notes .note-content {
    margin: 0.5rem 0;
}

.my-notes .note-reminder {
    font-size: 0.9rem;
    color: #ff7f7f;
}


.note-reminder {
    font-size: 0.9rem;
    color: #ff7f7f;
}

.delete-button {
    background: #ff4f4f;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.delete-button:hover {
    background: #ff1f1f;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #121212;
    padding: 0.5rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a.plus-circle {
    background: #ff9500;
    border-radius: 50%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    color: #ffffff;
}


/* body.light-theme .submit-button {
    background: linear-gradient(to right, #007fff, #00ff00);
}

body.light-theme .submit-button:hover {
    background: linear-gradient(to right, #0066cc, #00cc00);
} */

body.light-theme .input-form {
    color: #f0f0f0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

body.light-theme .span-form {
    color: rgba(0, 0, 0, 0.7);
}

body.light-theme .input-form:focus + .span-form,
body.light-theme .input-form:not(:placeholder-shown) + .span-form {
    color: rgba(0, 0, 0, 1);
    background: #ffffff;
}

body.light-theme .input-form:focus {
    border-color: rgba(0, 0, 0, 1);
}

body.light-theme {
    background: #f0f0f0;
    color: #000;
}

body.light-theme header, body.light-theme footer, body.light-theme .settings-menu, body.light-theme section {
    background: #d0d0d0;
    color: #000;
}

body.light-theme .settings-menu {
    border: 1px solid #ccc;
}

body.light-theme .settings-menu button{
    border: 1px solid #1a1a1a;
    color: black;
}


body.light-theme .settings-menu button:hover {
    background: #ddd;
}

body.light-theme .settings, body.light-theme .profile button {
    color: #000;
}

body.light-theme .icon-container a {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

/* body.light-theme .Upgrade {
    background: linear-gradient(to right, #007fff, #7fff00);
} */

body.light-theme .new-note button {
    color: #000000;
    font-weight: bolder;
}

body.light-theme footer a {
    color: #000;
}

body.light-theme footer a.plus-circle {
    color: #fff;
}

body.light-theme .my-notes li {
    background: #f8f8f8;
}

body.light-theme .my-notes .note-reminder {
    color: #ff4f4f;
}
